#dpkg-buildpackage file
PointDownload/debian/
PointPopup/debian/
debian/pointdownload/
#backup file
*~
#just for Poin
*.bug
*.new
build-*
#chrome extension
#*.crx
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# makefile
Makefile
makefile

#binary file
PointDownload/PointDownload
PointPopup/PointPopup
