[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Exec=/opt/Point/PopupWindow/PointPopup %U
Icon=/opt/Point/PointDownload/point.png
GenericName=Download client
Comment=Point
NoDisplay=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=Point
Terminal=false
Type=Application

