Source: pointdownload
Section: net
Priority: optional
Maintainer: PointTeam <PointTeam@qq.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 libx11-dev,
 libxtst-dev,
 fakeroot,
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev,
 libqt5webkit5-dev,
 qtmultimedia5-dev,
 libqt5opengl5-dev,
Standards-Version: 3.9.4
Homepage: https://github.com/PointTeam/PointDownload/wiki
#Vcs-Git: git://gibhub.com/PointTeam/PointDownload.git
#Vcs-Browser: https://github.com/PointTeam/PointDownload

Package: pointdownload
#Version: 1.2.0
Section: net
Priority: optional
Maintainer: PointTeam <yangwanqing.me@qq.com>
Architecture: any
#Installed-Size: 2048
Depends: libqt5quick5 (>= 5.2.1),libqt5multimedia5,libqt5qml5(>= 5.2.1),libqt5webkit5,libqt5widgets5,libqt5network5,libqt5xml5,libqt5gui5,libqt5core5a(>= 5.2.1)
Replaces: pointdownload
Provides: pointdownload
Description: Efficient download tool
 Efficient and easy to use to download for Http and Https with Chrome and Firefox extension.
