#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_install:
	dh_auto_install --destdir=debian/pointdownload
	make INSTALL_ROOT=debian/pointdownload install
	mkdir -p debian/pointdownload/opt/Point/PointDownload
	mkdir -p debian/pointdownload/opt/Point/PopupWindow
	mv debian/pointdownload/usr/PointDownload/PointDownload debian/pointdownload/opt/Point/PointDownload/
	mv debian/pointdownload/usr/PointDownload/XwareStartUp debian/pointdownload/opt/Point/PointDownload/
	mv debian/pointdownload/usr/PopupWindow/PointPopup debian/pointdownload/opt/Point/PopupWindow/
	rm -r debian/pointdownload/usr/PointDownload/
	rm -r debian/pointdownload/usr/PopupWindow/
